* {
    margin: 0;
    padding: 0;
    font-family: "Workbench", sans-serif;
}

body {
    min-height: 100vh;
    background-color: #264653;
    /* font-family: Inter, sans-serif; */
    font-size: 30px;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
}

nav {
    background-color: #2a9d8f;
    box-shadow:
        3px 3px,
        5px rgba(233, 196, 106, 0.1);
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}

ul {
    list-style-type: none;
}

nav ul li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
}

nav a:hover {
    background-color: #f4a261;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100hv;
    width: 250px;
    z-index: 999;
    background-color: #2a9d8f;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(15px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

@media (max-width: 600px) {
    .hide {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
    }
}

.about-container {
    font-family: "Workbench", sans-serif;
    color: #ffffff;
    background-color: #f4a261;
    box-shadow: 0 0 10px rgba(231, 111, 81, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    z-index: 1;
    overflow: hidden;
    box-shadow:
        0 -3px 3px rgb(244 162 97 / 30%),
        0 0 0 2px rgb(233 196 106),
        0.3em 0.3em 1em rgb(231 111 81 / 60%);
}

.team-container {
    font-family: "Workbench", sans-serif;
    display: flex;
    justify-content: center;

    color: #ffffff;
    text-align: start;
    font-size: 25px;
    flex-wrap: wrap;
    background-color: #e76f51;
    box-shadow: 0 0 10px rgba(231, 111, 81, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    z-index: 1;
    overflow: hidden;
    box-shadow:
        0 -3px 3px #2a9d8f,
        0 0 0 2px #2a9d8f,
        0.3em 0.3em 1em rgb(231 111 81 / 60%);
}

.member-info {
    font-family: "Workbench", sans-serif;
    display: center;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.image-text-container {
    float: none;
    margin-bottom: 15px;
    padding: 5px;
    justify-content: center;
}

#index-header {
    font-family: "Workbench", sans-serif;
    color: #ffffff;
    background-color: #f4a261;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    z-index: 1;
    overflow: hidden;
    box-shadow:
        0 -3px 3px #2a9d8f,
        0 0 0 2px #2a9d8f,
        0.3em 0.3em 1em rgb(231 111 81 / 60%);
}
@media (max-width: 600px) {
    #index-header {
        padding: 10px;
        margin: 10px;
        font-size: 1 em; /* Adjust as needed */
    }
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#difficulty-container {
    display: flex;
    justify-content: center-start;
    align-items: center;
    margin: 10px;
}

#difficulty-easy {
    align-items: center;
    background-color: #e76f51;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#difficulty-easy:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

#difficulty-easy:hover:after {
    transform: translate(0, 0);
}

#difficulty-easy:active {
    background-color: #ffdeda;
    outline: 0;
}

#difficulty-easy:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #difficulty-easy {
        padding: 0 40px;
    }
}

#difficulty-medium {
    align-items: center;
    background-color: #f4a261;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 15px;
}

#difficulty-medium:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

#difficulty-medium:hover:after {
    transform: translate(0, 0);
}

#difficulty-medium:active {
    background-color: #ffdeda;
    outline: 0;
}

#difficulty-medium:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #difficulty-medium {
        padding: 0 40px;
    }
}

#quiz-container {
    width: 1530.85px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: "Workbench", sans-serif;
    color: #ffffff;
    background-color: #f4a261;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 1em;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    z-index: 1;
    overflow: hidden;
    box-shadow:
        0 -3px 3px #2a9d8f,
        0 0 0 2px #2a9d8f,
        0.3em 0.3em 1em rgb(231 111 81 / 60%);
}

#difficulty-hard {
    align-items: center;
    background-color: #2a9d8f;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 15px;
}

#difficulty-hard:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

#difficulty-hard:hover:after {
    transform: translate(0, 0);
}

#difficulty-hard:active {
    background-color: #ffdeda;
    outline: 0;
}

#difficulty-hard:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #difficulty-hard {
        padding: 0 40px;
    }
}

.quiz-foot {
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.quiz-options {
    list-style-type: none;
    margin: 1rem 0;
}

.quiz-options li {
    align-items: center;
    background-color: #e9c46a;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 15px;
    margin-top: 15px;
}

.quiz-options li:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

.quiz-options li:hover:after {
    transform: translate(0, 0);
}

.quiz-options li:active {
    background-color: #ffdeda;
    outline: 0;
}

.quiz-options li:hover {
    outline: 0;
}

.selected {
    align-items: center !important;
    background-color: #e76f51 !important;
    border: 2px solid #111 !important;
    border-radius: 8px !important;
    box-sizing: border-box !important;
    color: #111 !important;
    cursor: pointer !important;
    display: flex !important;
    font-family: "Workbench", sans-serif !important;
    font-size: 16px !important;
    height: 48px !important;
    justify-content: center !important;
    line-height: 24px !important;
    max-width: 100% !important;
    padding: 0 25px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    user-select: none !important;
    -webkit-user-select: none !important;
    touch-action: manipulation !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
}

#check-answer {
    align-items: center;
    background-color: #2a9d8f;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 15px;
    margin-top: 15px;
}

#check-answer:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

#check-answer:hover:after {
    transform: translate(0, 0);
}

#check-answer:active {
    background-color: #ffdeda;
    outline: 0;
}

#check-answer:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #check-answer {
        padding: 0 40px;
    }
}

#play-again {
    align-items: center;
    background-color: #2a9d8f;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: "Workbench", sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 15px;
    margin-top: 15px;
}

#play-again:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform 0.2s ease-out;
    z-index: -1;
}

#play-again:hover:after {
    transform: translate(0, 0);
}

#play-again:active {
    background-color: #ffdeda;
    outline: 0;
}

#play-again:hover {
    outline: 0;
}

@media (min-width: 768px) {
    #play-again {
        padding: 0 40px;
    }
}
